@font-face {
  font-family: "iconfont"; /* Project id 4847973 */
  src: url('//at.alicdn.com/t/c/font_4847973_398pki9puqq.woff2?t=1756622552350') format('woff2'),
       url('//at.alicdn.com/t/c/font_4847973_398pki9puqq.woff?t=1756622552350') format('woff'),
       url('//at.alicdn.com/t/c/font_4847973_398pki9puqq.ttf?t=1756622552350') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiaoxuerenwu:before {
  content: "\10213";
}

.icon-jiaoyukeben:before {
  content: "\10214";
}

.icon-jiaoyujiaocai:before {
  content: "\10215";
}

.icon-tab-height:before {
  content: "\e629";
}

.icon-guanbi1:before {
  content: "\e80f";
}

.icon-guanchajilu:before {
  content: "\10211";
}

.icon-wenju:before {
  content: "\10212";
}

.icon-fanhui1:before {
  content: "\e60d";
}

.icon-liebiao1:before {
  content: "\e6b6";
}

.icon-liebiao:before {
  content: "\e88f";
}

.icon-a-004-sunflower:before {
  content: "\e7a0";
}

.icon-a-022-lily:before {
  content: "\e7a1";
}

.icon-a-027-geranium:before {
  content: "\e7a2";
}

.icon-wode:before {
  content: "\e600";
}

.icon-liuyan:before {
  content: "\e638";
}

.icon-guanyuapp:before {
  content: "\e635";
}

.icon-xunzhao:before {
  content: "\e675";
}

.icon-sheshidu:before {
  content: "\e9a6";
}

.icon-fujin:before {
  content: "\1020e";
}

.icon-RVFV-view:before {
  content: "\e66a";
}

.icon-ziyuan:before {
  content: "\e604";
}

.icon-qingtian:before {
  content: "\e607";
}

.icon-yintian:before {
  content: "\e608";
}

.icon-duoyunzhuanqing:before {
  content: "\e609";
}

.icon-qingwu:before {
  content: "\e60a";
}

.icon-jiangxue:before {
  content: "\e60b";
}

.icon-zhenxue:before {
  content: "\e60c";
}

.icon-leidian:before {
  content: "\e610";
}

.icon-yujiaxue:before {
  content: "\e612";
}

.icon-zhenyu:before {
  content: "\e613";
}

.icon-dayu:before {
  content: "\e614";
}

.icon-xiaoyu:before {
  content: "\e615";
}

.icon-a-fenxiang2:before {
  content: "\e626";
}

.icon-a-xiala2:before {
  content: "\e627";
}

.icon-jinru:before {
  content: "\e628";
}

.icon-ashbin:before {
  content: "\e665";
}

.icon-bad:before {
  content: "\e666";
}

.icon-camera:before {
  content: "\e667";
}

.icon-direction-up:before {
  content: "\e66c";
}

.icon-edit:before {
  content: "\e66e";
}

.icon-good:before {
  content: "\e673";
}

.icon-home:before {
  content: "\e674";
}

.icon-search:before {
  content: "\e67d";
}

.icon-xiaoxi-zhihui:before {
  content: "\e61d";
}

.icon-shouye-zhihui:before {
  content: "\e61f";
}

.icon-fanhui:before {
  content: "\e620";
}

.icon-guanbi:before {
  content: "\e621";
}
